[submodule "third_party/phnt"]
	path = third_party/phnt
	url = https://github.com/winsiderss/phnt.git
[submodule "third_party/vcpkg-triplets"]
	path = third_party/vcpkg-triplets
	url = https://github.com/Neumann-A/my-vcpkg-triplets.git
